// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"vibrantOrange": #f94415,
	"deepBlack": #000000, // Tror den også bare hedder "black" i nogle tilfælde idk ¯\_(ツ)_/¯
	"midnightBlack": #1b1b1b,
	"grey": #989ea5,
	// så der en ekstra der hedder White men den er allerede inkluderet
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// Font importing
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
	font-family: 'TTSupermolot';
	src: url('../fonts/TT-Supermolot-Neue-Trial-Extended-ExtraBold-Italic-BF65fcfb4f3737c.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// 5. Du kan lave styling her...
*{
	box-sizing: border-box;
}

.superMolot{ // Made it's own class for the font
	font-family: "TTSupermolot", sans-serif;
}

body{
	font-family: "Barlow", sans-serif;
}

.overlayHover a{
	color: white;
}

.overlayHover a:hover{
	color:#f94415;
}

.blikfang{
	position: relative;
	z-index: -1;
}

.specialBox{
	background: linear-gradient(to bottom, black, #1b1b1b);
	position: relative;
}

.specialBox::before{
	content: '';
	background: linear-gradient(to bottom, black 25%, #f94415);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	margin: -10px;
	border-radius: 0.5rem;
}

@media screen and (min-width: 768px){ // md breakpoint

}